%h2.section-top.rounded-top-right.meat<
  A note from the founders
%div.padded
  %p
    :plain
      Laurent et moi on se disait depuis un certain temps qu'on devrait partir notre 
      propre user group.  On trouve qu'il y a presentement un momentum au niveau de 
      l'adoption de JavaScript comme langage serieux; le timing est vraiment parfait.
  %h4
    Bruno Carriere & Laurent Villeneuve
  %p Fondateurs
  %em Objectives
  %ul.square-pants.ample-top.ample-bottom
    - purpose.each do |p|
      %li #{p}
  %p.ample-top
    :plain
      <em>Une note concernant la langue:</em> Bien que le site web que vous 
      lisez pr&eacute;sentement est en anglais, c'est surtout a cause de notre 
      paresse inexcusable. Lors de nos rencontres, les orateurs peuvent pr&eacute;senter
      en anglais ou en francais, &agrave; leur guise.
  %p.ample-top
    This website was put together hastily by <a href="mailto:neonskimmer@gmail.com">Bruno Carriere</a>