%h2.section-top.rounded-top-right.meat<
  How to get there? Comment se rendre?
%p.ample-bottom.ample-top{:align => "center"}
  :plain
    Starting with meetup #5, we are going to meet at the
    <a href="http://crim.ca">CRIM</a>. Here's where it is.
%p.ample-bottom.ample-top{:align => "center"}
  :plain
    Go the Parc metro station (Blue Line) and get out the only exit.<br/>
    Go right and it's right there in front of you!
#map{:style => "width: 640px; height: 480px; margin: 0 auto; margin-bottom: 27px; border: 10px solid white;" }
  :plain
    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=CRIM,+Montr%C3%A9al,+Qu%C3%A9bec&amp;sll=49.891235,-97.15369&amp;sspn=74.821934,74.53125&amp;ie=UTF8&amp;hq=CRIM,&amp;hnear=Montreal,+Communaut%C3%A9-Urbaine-de-Montr%C3%A9al,+Quebec&amp;cid=11170173311999844280&amp;ll=45.531252,-73.624835&amp;spn=0.003608,0.006866&amp;z=17&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.ca/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=CRIM,+Montr%C3%A9al,+Qu%C3%A9bec&amp;sll=49.891235,-97.15369&amp;sspn=74.821934,74.53125&amp;ie=UTF8&amp;hq=CRIM,&amp;hnear=Montreal,+Communaut%C3%A9-Urbaine-de-Montr%C3%A9al,+Quebec&amp;cid=11170173311999844280&amp;ll=45.531252,-73.624835&amp;spn=0.003608,0.006866&amp;z=17&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

