%h2.section-top.rounded-top-right.meat< 
  Want to present at JS-MONTREAL.ORG?
%div.padded
  %p
    :plain
      Contact us at <a href="mailto:contact@js-montreal.org">contact@js-montreal.org</a>.
      Anything related to JavaScript will do. If you want to present a commercial 
      product you benefit from, you are required to buy beer for everyone. 
      That's it!
  %p.ample-bottom
    :plain
      <em>Une note concernant la langue:</em> Bien que le site web que vous 
      lisez pr&eacute;sentement est en anglais, c'est surtout a cause de notre 
      paresse inexcusable. Lors de nos rencontres, les orateurs peuvent pr&eacute;senter
      en anglais ou en francais, &agrave; leur guise.
  %em Keep in mind the group's objectives:
  #objectives.ample-top
    %ul.square-pants
      - purpose.each do |p|
        %li #{p}